.body3 {
  color: $colourWhite;
  padding: 0 15%;
  text-align: left;
  min-height: inherit;

  .slider {
    display: grid;
    position: relative;
    top: -7vh;
  }

  .non-slider {
    margin-top: -10%;
    display: grid;
    grid-auto-rows: auto auto auto auto;
    row-gap: 10%;

    .quote {
      position: relative;
      z-index: 2;
    }
  }

  .helpTips {
    display: grid;
    justify-items: center;
    position: relative;
    .card-group {
      display: grid;
      gap: 5%;
      position: relative;
      z-index: 3;
    }
    .pinkNut {
      display: none;
      position: absolute;
      right: 0;
      z-index: 0;
    }
    h1 {
      justify-self: left;
    }
  }
  .lego-inverted {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// For Landscaping
@media only screen and (orientation: landscape) {
  .body3 {
    text-align: center;
    .helpTips {
      .card-group {
        display: grid;
        justify-items: center;
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .body3 {
    .helpTips {
      display: flex;
      flex-direction: column;
      .card-group {
        display: flex;
        justify-content: center;
      }
      .pinkNut {
        display: block;
      }
    }
  }
}
