.body2 {
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-row-gap: 15%;
  margin: -20% 0 0 0;
  .lego {
    display: flex;
    flex-direction: row-reverse;
  }

  .quote {
    margin: 0 10%;
    text-align: right;
    display: grid;
    grid-row-gap: 15%;
    p {
      font-weight: 600;
    }
    b {
      color: $colourBlue;
    }
    i {
      color: $colourWhite;
    }
  }

  .bluedot {
    margin: 0 0 0 15%;
  }
}

// For Landscaping
@media only screen and (orientation: landscape) {
  .body2 {
    .bluedot {
      margin: 0;
    }
  }
}

// Web Second
@media screen and (min-width: 40rem) {
  .body2 {
    margin: 0;
    .quote {
      margin: 0 35%;
    }

    .bluedot {
      margin: 0 25%;
    }
  }
}
