.body3 {
  color: #ffffff;
  padding: 0 10%;
  text-align: left;
  min-height: inherit;

  .slider {
    display: grid;
    position: relative;
    top: -7vh;
  }

  .non-slider {
    margin-top: -10%;
    display: grid;
    grid-auto-rows: auto auto auto auto;
    row-gap: 10%;
  }

  .helpTips {
    display: grid;
    justify-items: center;
    position: relative;
    .card-group {
      display: grid;
      gap: 5%;
      // margin-top: 5%;
    }
    .pinkNut {
      display: none;
      position: absolute;
      right: 0;
    }
    h1 {
      justify-self: left;
    }
  }
  .lego-inverted {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 40rem) {
  .body3 {
    .helpTips {
      .card-group {
        // margin-top: -10%;
        display: flex;
        // grid-auto-rows: auto auto auto;
        // row-gap: 15%;
      }
      .pinkNut {
        display: block;
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}
