main {
  width: 100%;
  margin: 0 auto;
  min-height: inherit;
  padding-bottom: 71px;
  .main {
    text-align: center;
    margin: 15% 0 0 0;
    .jumbotron {
      color: #ffffff;
      display: grid;
      grid-auto-rows: 100px 100px 1fr;
      grid-row-gap: 40%;
      h1 {
        font-size: 52px;
      }
      .start-lego {
        color: #000000;
        // font-size: larger;
        p {
          position: relative;
          top: -90%;
          span {
            border: 1px solid white;
            font-size: 16px;
            background-color: #ffffff;
            border-radius: 29px;
            padding: 20px 83.5px 19px;
          }
        }
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  main {
    .main {
      margin: 5% 0 0 0;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  main {
    .main {
      margin: 5% 0 0 0;
    }
  }
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
  main {
    .main {
      .jumbotron {
        grid-row-gap: 60%;
      }
    }
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 653px) {
  /* STYLES GO HERE */
  main {
    .main {
      .jumbotron {
        grid-row-gap: 60%;
      }
    }
  }
}
