main {
  // position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  // min-height: calc(100vh - 60.38px - 71px);
  padding-bottom: 71px;
  .background {
    background: url("../img/modal1.svg") no-repeat center;
    background-size: cover;
    min-height: inherit;
    // padding-bottom: 180px;
    width: -webkit-fill-available;
    background-color: #eebece;
  }
}

// Web Second
@media screen and (min-width: 40rem) {
  main {
    min-height: inherit;
  }
}
