footer {
  background-color: $colourBlue;
  color: $colourWhite;
  text-align: center;
  position: absolute;
  width: -webkit-fill-available;
  padding: 25px 24px 24px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-text {
      white-space: nowrap;
      flex-direction: column;
      gap: 15px;
      display: flex;
      p {
        padding: 0;
        margin: 0;
      }
      span {
        font-weight: 600;
      }
    }

    .version {
      border: 1px solid $colourWhite;
      border-radius: 20px;
      display: flex;
      justify-content: space-evenly;
      p {
        font-size: 9px;
        word-break: break-all;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

// Web Second
@media screen and (min-width: 40rem) {
  footer {
    margin: inherit;
    .wrapper {
      display: flex;
      justify-content: space-around;
      gap: 25%;

      .title-text {
        a {
          margin: inherit;
        }
      }
      .version {
        column-gap: 10px;
        display: flex;
      }
    }
  }
}
