// Mobile First Focussed Design

header {
  background-color: #ffffff;
  h1,
  p,
  a,
  .title {
    color: #000000;
    display: grid;
    grid-template-columns: 200px auto 1fr;
    padding: 2% 1% 2% 3%;
    gap: 3%;
    a {
      display: flex;
      align-items: center;
      margin: auto;
      p {
        padding: 0 0 0 5px;
      }
    }
  }
  .iconHead {
    width: 34px;
    // margin: 0 2% 0 0;
    // display: flex;
  }
}

// Web Second
@media screen and (min-width: 40rem) {
  header {
    .title {
      padding: 1% 0 1% 10%;
    }
    .iconHead {
      display: flex;
      padding: 0;
    }
  }
}
