.card {
  width: 17rem;
  height: 176px;
  background-position: center;
  background-size: cover;

  .title {
    background: #000000;
    opacity: 0.5;
    display: grid;
    grid-template-columns: 220px auto;
    position: relative;
    top: 70%;
    width: 100%;
    height: 30%;
    place-items: center;

    p {
      text-align: left;
      padding-left: 5%;
    }
    a {
      padding: 10%;
      color: $colourBlue;
      opacity: revert;
      background-color: $colourWhite;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .card {
    width: 20rem;
  }
}
