.testimonial {
  text-align: left;
  color: #000000;
  width: auto;
  height: 100px;
  padding: 10px;
  margin: 10% 5% 0 5%;
  background: #ffffff;
  // gap: 10%;
}

.slick-slide p {
  margin: auto;
}

@media only screen and (min-width: 1224px) {
  .testimonial {
    margin: 5% 2%;
  }
}
